/*.container-fluid{*/
/*    background-color: #0085a1;*/
/*}*/
/*.card-body{*/
/*    background-color: #f5f5f5;*/
/*    border-radius: 25px;*/
/*    opacity: 98%;*/
/*    -webkit-box-shadow: 1px 0px 71px 12px rgba(100, 135, 157, 0.2);*/
/*    -moz-box-shadow: 1px 0px 71px 12px rgba(100, 135, 157, 0.2);*/
/*    box-shadow: 1px 0px 71px 12px rgba(100, 135, 157, 0.2);*/
/*}*/
/*:root {*/
/*    --input-padding-x: 1.5rem;*/
/*    --input-padding-y: 0.75rem;*/
/*}*/

/*.login,*/
/*.image {*/
/*    min-height: 100vh;*/
/*}*/

/*.bg-image {*/
/*    !*background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');*!*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/*.login-heading {*/
/*    font-weight: 300;*/
/*}*/

/*.btn-login {*/
/*    font-size: 0.9rem;*/
/*    letter-spacing: 0.05rem;*/
/*    padding: 0.75rem 1rem;*/
/*    border-radius: 2rem;*/
/*}*/

/*.form-label-group {*/
/*    position: relative;*/
/*    margin-bottom: 1rem;*/
/*}*/

/*.form-label-group>input,*/
/*.form-label-group>label {*/
/*    padding: var(--input-padding-y) var(--input-padding-x);*/
/*    height: auto;*/
/*    border-radius: 2rem;*/
/*}*/

/*.form-label-group>label {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    display: block;*/
/*    width: 100%;*/
/*    margin-bottom: 0;*/
/*    !* Override default `<label>` margin *!*/
/*    line-height: 1.5;*/
/*    color: #495057;*/
/*    cursor: text;*/
/*    !* Match the input under the label *!*/
/*    border: 1px solid transparent;*/
/*    border-radius: .25rem;*/
/*    transition: all .1s ease-in-out;*/
/*}*/

/*.form-label-group input::-webkit-input-placeholder {*/
/*    color: transparent;*/
/*}*/

/*.form-label-group input:-ms-input-placeholder {*/
/*    color: transparent;*/
/*}*/

/*.form-label-group input::-ms-input-placeholder {*/
/*    color: transparent;*/
/*}*/

/*.form-label-group input::-moz-placeholder {*/
/*    color: transparent;*/
/*}*/

/*.form-label-group input::placeholder {*/
/*    color: transparent;*/
/*}*/

/*.form-label-group input:not(:placeholder-shown) {*/
/*    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));*/
/*    padding-bottom: calc(var(--input-padding-y) / 3);*/
/*}*/

/*.form-label-group input:not(:placeholder-shown)~label {*/
/*    padding-top: calc(var(--input-padding-y) / 3);*/
/*    padding-bottom: calc(var(--input-padding-y) / 3);*/
/*    font-size: 12px;*/
/*    color: #777;*/
/*}*/

/*!* Fallback for Edge*/
/*-------------------------------------------------- *!*/

/*@supports (-ms-ime-align: auto) {*/
/*    .form-label-group>label {*/
/*        display: none;*/
/*    }*/
/*    .form-label-group input::-ms-input-placeholder {*/
/*        color: #777;*/
/*    }*/
/*}*/

/*!* Fallback for IE*/
/*-------------------------------------------------- *!*/

/*@media all and (-ms-high-contrast: none),*/
/*(-ms-high-contrast: active) {*/
/*    .form-label-group>label {*/
/*        display: none;*/
/*    }*/
/*    .form-label-group input:-ms-input-placeholder {*/
/*        color: #777;*/
/*    }*/
/*}*/

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.container-fluid {
    background: linear-gradient(90deg, #000000 23%, #282323 69%, rgb(98, 85, 75));
    opacity: 90%;
}

.form-check{
    text-align: center;
    margin: 20px;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 2rem;
}

.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center;
    background-size: cover;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}